@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&family=Poppins:wght@400;500&family=Roboto+Slab:wght@100;300;400;500&family=Roboto:wght@100;400;500;700&display=swap');

:root{
--azulclaro: #48D6ED;
--azuloscuro: #337AB7;
--azulnegro: #303342;
--negro: #333333;
--negro2: #000;
--gris: #B2B3B3;
--fondo: #FFFEFC;
--verdeazul: #157A8A;
--Magenta: #9C2759;
--blanco: #fff;
--degradado: linear-gradient(49.54deg, #337AB7 2.89%, #0B3860 80.34%);
}
*{margin:0;}
body{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}
h1,h2,h3,h4,h5{
    font-family: 'Marcellus', serif;
}
nav{
    display: flex;
    position: fixed;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(0, 0, 0,.8);
    font-family: 'Marcellus', serif;
    font-size: 1.3em;
    width: 100%;
}
.logo{
    background-color: var(--negro2);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo img{
    width: 40%;
    max-width: 200px;
    padding: 1rem;
}
.logo i{
    color: var(--blanco);
    font-size: 2rem;
    padding: 1rem;
}
.menu{
    background-color: rgba(1, 10, 52, 0.8);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.menu-hr{
    width: 90%;
    background-color: var(--blanco);
    }
.item{padding: 1rem;}
nav a{
    color: var(--blanco);
    text-decoration: none;
    text-align: center;
}
nav a:hover{
    background-color: #0B3860;
}
.navbar-button{
    background-color:transparent;
    border: none;
    border-radius: 3px;
    font-size: 1em;
    padding: 0.5rem;
    font-family: 'Marcellus', serif;
    color: var(--blanco);
}
/*----------------------BANNER------------------------------*/
.banner{
    width: 100%;
    min-height: 310px;
    height: 320px;
    background-image: url(../img/index/slide1.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
}
.banner .slide1{
    background: linear-gradient(180deg, rgba(54, 54, 54, 0.4) 0%, rgba(54,54,54,0.4) 17%, rgba(94, 94, 94, 0.2) 68%);
    border: none;
    box-sizing: border-box;
    color: var(--blanco);
    min-width: 100%;
    margin-top: auto;
    padding: 10px;
}
.banner .slide1 h2{
    font-size: 1.5rem;
    font-family: 'Roboto';
    margin-bottom: 1rem;
}
/*----------------------DESCRIPCIÓN----------------------------*/
.descripcion{padding: 1rem;}
.imagen_descripcion{display: none;}
/*----------------------FEATURES----------------------------*/
#features{
    background: url("../img/index/bg-features.png");
    color: white;
    padding-top: 1rem;
}
.features-title{
    background-color: rgba(0,0,0,0.35);
    text-align: center;
    padding: 0.5rem;
    font-size: 1.6em;
}
.features-description{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.feature{
    width: 25%;
    min-width: 180px;
    max-width: 230px;
    margin: 0.8rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
.feature i{
    font-size: 2.2em;
    margin-bottom: 1.5rem;
}
.feature-blue{background-color: #00325eae;}
.feature-black{background-color: rgba(0,0,0,0.59);}



/*Resolución notebooks*/
@media screen and (min-width: 1024px){
    nav{
        display: flex;
        flex-direction: row; 
        width: 100%;
        justify-content: space-between;
        background-color: var(--negro2);
    }
    .logo{padding: 1rem;}
    .logo img{
        width: 100%;
        max-width: 180px;
    }
    .logo i{display: none;}
    .menu{
        background-color: var(--negro2);
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .menu-hr{display: none;}
    .navbar-button{background-color:var(--azuloscuro);}
    .banner{height: 1120px;}
    .banner .slide1 h2{
        font-size: 3rem;
    }
    .descripcion{
        display: flex;
        padding: 2rem 10rem;
        margin-top: 5rem;
        margin-bottom: 5rem;
        justify-content: space-between;
        align-items: center;
    }
    .descripcion .texto_descripcion{
        width: 50%;
        padding: 1rem;
        margin-right: 2rem;
        font-size: 1.6rem;
        margin-left: 2rem;
    }
    .imagen_descripcion{
        width: 50%;
        display: inline;
        text-align: center;
    }
}